.about__us{
    min-height: 100vh;
    min-height: 100dvh;
    background-color: rgba(180, 180, 194, 0.314);
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap:0.7rem;
   

    @include media('<=phone') {
        gap:1rem;       
    }

    @media (min-height: 1000px) { 
        align-items: center;
        
    } 
}
.about__us-information{
    grid-row: 6/12;
    grid-column: 6/12;
    //max-width:54.8rem;
    
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin: auto;


    @include media('<=phone') {
        grid-row: 5/11;
        grid-column: 3/15;         
    }
}
.about__us-information-header{
    color:  $color-shark;
    text-align: center;
    font-size: 7rem;
    font-style: normal;
    font-weight: 400;
    margin-inline:auto;
    //letter-spacing: -0.36rem;

    & span{
        font-style: italic; 
    }

    @include media('<=phone') {
        font-size: 4rem;
        max-width: 34.3rem;
        
    }
}

.about__us-information-paragraph{
    color:  $color-shark;
    text-align: center;
    max-width: 50.6rem;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    margin-inline: auto;

    @include media('<=phone') {
        font-size: 2rem;
    }
    
}

.about__us-cta{
    display: flex;
    padding: 0.8rem 3.6rem;
    align-items: center;
    gap: 0.8rem;
    border-radius: 0.8rem;
    border: 1px solid $color-quill-gray;
    margin-inline: auto;
    text-transform: uppercase;
    
}

.about__us-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  
}

.about__us-imageOne{
    margin-top: 3rem;
    grid-column: 7/11;
    grid-row: 1/6;
    // max-width: 33rem;
    margin-inline:auto;
   
    
    @include media('<=phone') {
        grid-column: 2/9;   
        grid-row: 2/5;      
    }

}

.about__us-imageTwo{
    grid-row: 5/8;
    grid-column: 1/4;
    margin-left: 3.8rem;


    @include media('<=phone') {
        grid-row: 6/9; 
        margin-left:0; 
        grid-column: 1/2;   
    }
}
.about__us-imageThree{
    grid-row: 5/8;
    grid-column: 13/15;
    //max-width: 17.2rem;
    height: 13.2rem;


    @include media('<=phone') {
        grid-row: 3/5;
        grid-column: 14/-1;         
    }
}

.about__us-imageFour{
    grid-column: 15 / -1;
    grid-row: 8/11;

    max-width: 20.2rem;
    height: 21.2rem;

    @include media('<=phone') {
        grid-row: 7/10;
        grid-column: 15 / -1;
             
    }
}

.about__us-imageFive{
    grid-column: 1 / 5;
    grid-row: 9/13;

    @include media('<=phone') {
        grid-row: 9/13;
        grid-column: 1 / 3;
        margin-top: 3rem;
             
    }
}

.about__us-imageSix{
    grid-column: 12 / 15;
    grid-row: 12/16;

    @include media('<=phone') {
        grid-row: 12/15;
        grid-column: 12 / -1;
             
    }
}



