.features{
    display:flex;
    flex-direction:column;
   // border:1px solid red;
  
}

.features__title{
    border-top: 1px solid $color-quill-gray;
    border-bottom:1px solid $color-quill-gray;

    & h4{
        color:  $color-shark;
        text-align: center;
        font-size: 3.6rem;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.072rem;
        padding:2.4rem 0rem;
    }
}

.features__gallery{
    display:grid;
    justify-content: center;
    grid-template-columns: repeat(4, minmax(0, 33rem));
   //grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-auto-rows: 35.5rem;
    gap:3rem;

    @include media('<=phone') {
        grid-template-columns: repeat(2, 1fr);
       
    } 

    & figure{
      
        padding-bottom: 1rem;
        margin-bottom: 1rem;
       
       //min-height:35rem;
        
       & figcaption{
            display: flex;
            justify-content: space-between;
            color:$color-shark;
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 400;
            padding-bottom: 2.4rem;
       }
    }
}
.features__image{
    object-fit: cover;
    width: 100%;
    min-height: 100%;
}
.features__shopall{
    border-top: 1px solid $color-quill-gray;
    border-bottom:1px solid $color-quill-gray;
    padding:2.4rem 0rem;
    display: flex;
    justify-content: center;
    margin:2.4rem 0;
}
.features__shopall-btn{
    text-transform: uppercase;
    display: flex;
    padding: 1rem 3.6rem;
    align-items: center;
    border: 1px solid $color-quill-gray;
    color:$color-shark;
    border-radius: 1rem;
    
}

.features__gallery-two{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 67rem;
    background-color: $color-oxford-blue;

    @include media('<=phone') {
        grid-template-columns: repeat(1, 1fr);
        padding: 2rem;
       
    } 
}
.native-light{
    display: flex;
    justify-content: center;
    align-items: center;
   
    @include media('<=phone') {
       grid-row: 2 / 3 ;
       display: block;
       
    } 


}
.native__light-description{
    display:flex;
    flex-direction: column;
    max-width: 40.5rem;
    gap:4rem;
    background-color: yellow;

    & h4{
        color: red;
       
        /* Heading/H4 */
        font-size: 3.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 4.2rem; /* 116.667% */
        letter-spacing: -0.072rem;
    }
    & p{
        color:$color-quill-gray;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.9rem; 
    }

    @include media('<=phone') {
        max-width:100% ;
        padding-top: 5.6rem;
        
     } 
}

.native__light-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;

}

