<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="container">
       <header class="header">
            <nav class="header__navigation">
              <div class="navigation-item left"> 
                <div class="hamburger-menu"></div> 
                <div class="header-shop"> SHOP</div> 
              </div>
              <figure class="navigation_logo">
                <img src='<%= require("./assets/Union.svg") %>' class="navigation_logo-image"/>
              </figure>
               <div class="navigation-item right">  
                  <div class="header-bag">BAG</div>
                  <div class="header-nametag">
                    <p>0</p>
                  </div>
                </div>
            </nav>
            <div  class="header__description">
                <div class="header__description-content">
                  <div class="header__description-content-text-box">
                    <h1>Seamless <span class="header__description-furnitureText">furniture</span> with natural fabrics</h1>
                  </div>
                  <div class="header__description-content-button-box">
                      <button class="header__description-button">shop all</button>
                  </div>   
                </div>
            </div>
            <video class="header__video-bg" playsinline autoplay muted loop class="back-video">
              <source src='<%= require("./assets/herovid.mp4") %>' type="video/mp4" />
            </video>
       </header>
       <!-- <section class="about__us">
          <div class="about__us-information">
            <div class="about__us-information-content">
                <h2 class="about__us-header">Creating <span>perfect</span> 
                  lines and imposing
                  presence</h2>
                <p class="about__us-paragraph">Developed the concept of exclusivity, a Arusa features timeless furniture, with natural fabrics, curved lines, plenty of mirrors and classic design, which can be incorporated into any decor project. The pieces enchant for their sobriety, to last for generations, faithful to the shapes of each period, with a touch of the present</p>
                <button class="about__us-cta">READ ABOUT US</button>
            </div> 
          </div>
          <figure class="about__us-imageOne">
              <img src='<%= require("./assets/gallery-1.svg") %>' class="about__us-imageOne-image"/>
          </figure>
          <figure class="about__us-imageTwo">
            <img src='<%= require("./assets/gallery-1.svg") %>' class="about__us-imageTwo-image"/>
          </figure>
          <div class="box two"></div>
          <div class="box three"></div>
          <div class="box 4"></div>
          <div class="box 5"></div>
          <div class="box 6"></div>
       </section> -->
    
        <!-- <section>
          <div class="item one">A</div> 
          <div class="item two">A</div> 
          <div class="item three">A</div> 
          <div class="item four">A</div> 
          <div class="item five">A</div> 
          <div class="item six">A</div> 
          <div class="item seven">A</div> 
       </section> -->

       <section class="about__us">
          <div class="about__us-information">
            <h1 class="about__us-information-header">Creating <span>perfect</span>  lines and imposing presence</h1>
            <p class="about__us-information-paragraph">Developed the concept of exclusivity, a Arusa features timeless furniture, with natural fabrics, curved lines, plenty of mirrors and classic design, which can be incorporated into any decor project. The pieces enchant for their sobriety, to last 
              for generations, faithful to the shapes of each period, with a touch of the present.
            </p>
            <button class="about__us-cta">read about us</button>
          </div>
         
          <figure class="about__us-imageOne">
            <img src='<%= require("./assets/gallery-1.svg") %>' class="about__us-image"/>
          </figure>
           <figure class="about__us-imageTwo">
            <img src='<%= require("./assets/gallery-2.svg") %>' class="about__us-image"/>
          </figure> 
          <figure class="about__us-imageThree">
            <img src='<%= require("./assets/gallery-3.svg") %>' class="about__us-image"/>
          </figure>
          <figure class="about__us-imageFour">
            <img src='<%= require("./assets/gallery-4.svg") %>' class="about__us-image"/>
          </figure> 
          <figure class="about__us-imageFive">
            <img src='<%= require("./assets/gallery-5.svg") %>' class="about__us-image"/>
          </figure> 
          <figure class="about__us-imageSix">
            <img src='<%= require("./assets/gallery-6.svg") %>' class="about__us-image"/>
          </figure> 
       </section>
        
      </div>
    </div>
  </body>
</html>