<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="container">
       <header class="header">
            <nav class="header__navigation">
              <div class="navigation-item left"> 
                <div class="hamburger-menu"></div> 
                <div class="header-shop"> SHOP</div> 
              </div>
              <figure class="navigation_logo">
                <img src='<%= require("./assets/Union.svg") %>' class="navigation_logo-image"/>
              </figure>
               <div class="navigation-item right">  
                  <div class="header-bag">BAG</div>
                  <div class="header-nametag">
                    <p>0</p>
                  </div>
                </div>
            </nav>
            <div  class="header__description">
                <div class="header__description-content">
                  <div class="header__description-content-text-box">
                    <h1>Seamless <span class="header__description-furnitureText">furniture</span> with natural fabrics</h1>
                  </div>
                  <div class="header__description-content-button-box">
                      <button class="header__description-button">shop all</button>
                  </div>   
                </div>
            </div>
            <video class="header__video-bg" playsinline autoplay muted loop class="back-video">
              <source src='<%= require("./assets/herovid.mp4") %>' type="video/mp4" />
            </video>
       </header>
      

      <section class="about__us">
          <div class="about__us-information">
            <h1 class="about__us-information-header">Creating <span>perfect</span>  lines and imposing presence</h1>
            <p class="about__us-information-paragraph">Developed the concept of exclusivity, a Arusa features timeless furniture, with natural fabrics, curved lines, plenty of mirrors and classic design, which can be incorporated into any decor project. The pieces enchant for their sobriety, to last 
              for generations, faithful to the shapes of each period, with a touch of the present.
            </p>
            <button class="about__us-cta">read about us</button>
          </div>
         
          <figure class="about__us-imageOne">
            <img src='<%= require("./assets/gallery-1.svg") %>' class="about__us-image"/>
          </figure>
           <figure class="about__us-imageTwo">
            <img src='<%= require("./assets/gallery-2.svg") %>' class="about__us-image"/>
          </figure> 
          <figure class="about__us-imageThree">
            <img src='<%= require("./assets/gallery-3.svg") %>' class="about__us-image"/>
          </figure>
          <figure class="about__us-imageFour">
            <img src='<%= require("./assets/gallery-4.svg") %>' class="about__us-image"/>
          </figure> 
          <figure class="about__us-imageFive">
            <img src='<%= require("./assets/gallery-5.svg") %>' class="about__us-image"/>
          </figure> 
          <figure class="about__us-imageSix">
            <img src='<%= require("./assets/gallery-6.svg") %>' class="about__us-image"/>
          </figure> 
      </section>
      <!-- <section class="testing">
          <div class="item item-1">ALMOITHYyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Non consectetur aut voluptatum, iste atque illo quisquam, hic, harum dolor nostrum est architecto labore minus corrupti? Nam, expedita cumque! Dolorem, qui.ipsum dolor sit amet consectetur adipisicing elit. Sit consequatur architecto, iusto totam iure cupiditate sapiente mollitia officiis? Soluta at labore debitis, aliquid sequi consequatur temporibus porro nihil id cum.</div>
          <div class="item item-2">Barcelona</div>
          <div class="item item-3">ALALHY</div>
          <div class="item item-4">generations</div>
          <div class="item item-5">OY0</div>
          <div class="item item-6">ALYYYY</div>
          <div class="item item-7">ALMYYY</div>
          <div class="item item-8">baHYYYYYY</div>
      </section> -->

      <section class="features">
          <div class="features__title">
              <h4> Enjoy our feature product </h4>
          </div>
          <div class="features__gallery">
            <figure>
              <img src='<%= require("./assets/feature-image1.svg") %>' class="features__image"/>
              <figcaption>
                  <span>CENTURY DASHE</span>
                  <span>$1,799</span>
              </figcaption>
            </figure>
            <figure>
              <img src='<%= require("./assets/feature-image2.svg") %>' class="features__image"/>
              <figcaption>
                  <span>CENTURY DASHE</span>
                  <span>$1,799</span>
              </figcaption>
            </figure>
            <figure>
              <img src='<%= require("./assets/feature-image3.svg") %>' class="features__image"/>
              <figcaption>
                  <span>CENTURY DASHE</span>
                  <span>$1,799</span>
              </figcaption>
            </figure>
            <figure>
              <img src='<%= require("./assets/feature-image4.svg") %>' class="features__image"/>
              <figcaption>
                  <span>CENTURY DASHE</span>
                  <span>$1,799</span>
              </figcaption>
            </figure>
          </div>
          <div class="features__shopall">
            <button class="features__shopall-btn">shop all</button>
          </div>

          <div class="features__gallery-two">
            <div class="native-light">
              
              <div class="native__light-description">
                  <h4>Native light chair</h4>
                  <p>Refinement Chair with Ripped Seat, made of retro Eucalyptus wood, of great resistance, Kiln dried, made with a spike system and painted with P.U. (Polyurethane) With its entire structure painted in wood, it offers a lot of elegance to your environment and when cleaning is very easy, as it is washable and light for movement. Enough of receiving visitors and not having a place to accommodate them. With the chair, 
                  your days as a host will be marked by a lot of elegance and sophistication.</p>
                  <button class="">VIEW PRODUCT</button>
              </div>
            </div>
            
            <figure class="native__light-image">
              <img src='<%= require("./assets/native-chair.svg") %>'/>
            </figure>
          </div>
         
      </section>
      
          
      
    </div>
  </body>
</html>